.contact__section {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.contact__description {
  font-size: var(--size-sm);
  max-width: 60ch;
}
